body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 10px 20px;
    border: none;
    background: limegreen;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
